.AboutContainer {

  width: auto; //opcional
  margin: 0 auto; //opcional
  padding: 0 10rem;
  display: grid;
  justify-content: center; //centrar textos
  margin: 0 auto; //centrar seccion
  justify-items: center;
  color: white;
  align-items: center;
  grid-template-areas:
    "about info info"
    "stats stats stats";

  // Container de Titulo Principal - Seccion About us

  .AboutUsTitle {
    display: flex;
    grid-area: about;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 5rem; //mueve el texto mas al medio

    // Titulo Principal - Seccion About us
    .TituloAbout {
      font-size: 3rem;
      font-weight: 600;

    }
  }

  // Texto descripcion - Seccion About us
  .bloque2 {
    width: 80%;
    font-size: 1.3rem; // cambie el tamano
    text-align: left; // cambio esto
    font-weight: 300;
    margin-left: 30px;
    grid-area: info;
    padding: 40px;
    color: rgb(198, 194, 194);
  }

  // Estadisticas - Seccion About us
  .bloque3 {
    border: 2px rgba(205, 199, 199, 0.1) solid;
    border-radius: 20px;
    display: flex;
    grid-area: stats;
    width: 90%;

    .bloque {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      padding-right: 0px;
      padding-left: 1.5rem;
      /* Ajusta el padding según sea necesario */
      border-right: 2px rgba(205, 199, 199, 0.1) solid;
      justify-content: center;

      &:last-child {
        /* Aplica estilos al último elemento .bloque dentro de .bloque3 */
        border-right: none;
      }

      .tituloStats {
        font-size: 3.5rem;
        color: rgb(214, 178, 106);
        background: -webkit-linear-gradient(10deg, rgba(255, 233, 152, 1) 0%, rgba(213, 189, 117, 1) 8%, rgb(113, 73, 20) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // padding-right: 8rem;
        // padding-left: 20px;
        margin-bottom: 5px;
        /* Separación entre el título y el párrafo */
        user-select: none;
      }

      .DescriptionStats {
        font-size: 1.3rem;
        color: rgb(255, 255, 255);
        padding-bottom: 40px;
        user-select: none;
      }
    }
  }
}


.lineHorizontalPractice {
  margin: 0 auto;
  margin-top: 3rem;

  width: 80%;
  border-top: 1px rgb(124, 118, 118) solid;
}



@media (max-width: 900px) {
  .AboutContainer {
    gap: 0;
    width: auto; //opcional
    margin: 0; //opcional
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center; //centrar textos
    color: white;

    .AboutUsTitle {
      margin: 0; //? alineo con esto
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 0;
      // border: 2px yellow solid;


      .TituloAbout {
        font-size: 25px;
        padding: 0;
        height: auto;
        margin: 0;
      }
    }

    .bloque2 {
      // description of about us
      width: auto;
      font-size: 1rem;
      text-align: center;
      font-weight: 300;
      margin-left: 0;
      color: rgb(198, 194, 194);
      padding: 0 2rem;
      // border: 2px yellow solid;
    }


    .bloque3 {
      //stats block 
      border: 2px rgba(205, 199, 199, 0.1) solid;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      width: 90%;

      .bloque {

        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding-right: 0;
        padding-left: 0;
        /* Ajusta el padding según sea necesario */
        border-bottom: 2px rgba(205, 199, 199, 0.1) solid;
        justify-content: center;

        &:first-child {
          /* Aplica estilos al último elemento .bloque dentro de .bloque3 */
          border-right: none;
        }

        &:last-child {
          /* Aplica estilos al último elemento .bloque dentro de .bloque3 */
          border-bottom: none;
        }

        &:nth-child(2) {
          border-right: none;
        }

        .tituloStats {
          width: 100%;
          text-align: center;
          font-size: 2rem;
          margin-bottom: 5px;
          /* Separación entre el título y el párrafo */
        }

        .DescriptionStats {
          width: 100%;
          text-align: center;
          font-size: 1rem;
        }
      }
    }
  }
}