.AboutAhmed { // estructura bloque ahmed odeh
  width: 80%;  
  margin: 0 auto; 
  display: grid;
    grid-template-areas: 
      "titulo titulo"
      "socials socials"
      "pictures textAhmed";
  
     .tituloAboutAhmed { // Title About Ahmed odeh
      grid-area: titulo;
      text-align: center;
      font-size: 2.5rem;
      color: white;
  
    }


    .ProfileContainer{
      display: flex;

    }
  
      .profilePicture { //Profile picture
          grid-area: picture;
          filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
          // height: 70%; // tama単o de img
          height: 35vw;
          margin-right: 3rem;
          align-items: first baseline;
    }

    .descriptionAhmed {
      grid-area: textAhmed;
      color: white;
      display: flex;
      flex-direction: column;
      font-size: 1.4rem;
      padding: 0 3rem;
      float: right;
      justify-content: center;
      text-align: left;


      .textDescription{
        align-items: center;
        font-weight: 300;
      }
    }
  
    .card {
      grid-area: socials;
      width: fit-content;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 2rem;
      padding-left: 2rem;
      padding-bottom: 1rem;
      gap: 50px;
      margin: auto;
      border-radius: 10px;
    
  
      /* for all social containers */
      .socialContainer {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 0.3s;
  
        /* individual styles for each social container */
        &.containerOne { border-radius: 30px; }
        &.containerTwo { border-radius: 30px; }
        &.containerThree { border-radius: 50px; }
        &.containerFour { border-radius: 90px; height: 20px; }
  
        &:hover {
          transform: scale(1.1);
          transform: translateY(-3px);

        }
  
        &:active {
          transform: scale(0.9);
        }
  
        .socialSvg {
          width: 17px;
          path {
            fill: rgb(255, 255, 255);
          }
        }
  
        &:hover .socialSvg {
          animation: slide-in-top 0.3s both;
        }
      }
    }
  
  

   .viewsBloque{ //bloque de views
        display: flex;
        justify-content: center;
        align-items: center;

        .viewsText{ // texto de views 20million
            padding: 30px;
            color: #d6b26a;
            background: -webkit-linear-gradient(146deg, rgb(177, 148, 42) 0%, rgb(222, 196, 196) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 2rem;
            font-weight: 800;
            user-select: none;

            span{
                font-weight: 800;
            }
        }

        .vl {
            border-left: 1.5px solid rgb(152, 149, 149);
            height: 3.5rem;
          }
    }
  
   
  }

  .lineHorizontalAhmed{
    margin: 0 auto;
    margin-top: 3rem;
  
    width: 80%;
    border-top: 1px rgb(124, 118, 118) solid;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


  
  @media (max-width: 900px) {

    .AboutAhmed { // estructura bloque ahmed odeh
      margin: 0 auto; //opcional
      display: flex;
      padding: 0rem;
      flex-direction: column;
      justify-content: center;
      
         .tituloAboutAhmed { // titulo About Ahmed odeh
          text-align: center; //! si centra
          font-size: 1.3rem; // tama単o letra
          color: white;
      
        }
    
       
        .ProfileContainer {
          display: flex;
      }
      
      .profilePicture {
          filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
          margin: 0 auto;
          text-align: center;
          height: 90vw; // esto funciono para cambiar el tama単o de la letra
      }
      
      
    
        .descriptionAhmed {

          width: auto;
          padding: 1rem 1rem;
          // border: 2px yellow solid;
          text-align: left;
          color: white;
          font-size: 1rem;
          float: none;
    
        }


        .button3{
          display: flex;
          justify-content: center;
          align-items: center;
          width: auto;
          height: fit-content;
          // border: 2px yellow solid;
    
          .btnAhmed{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            border-radius: 10px;

            span a{
              font-weight: 800;
              font-size: 1.3rem;
            }
    
          }
    
        }
      
        .card {
          width: fit-content;
          height: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-right: 1rem;
          padding-left: 1rem;
          padding-bottom: 1rem;
          gap: 20px;
          border-radius: 10px;
      
          /* for all social containers */
          .socialContainer {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition-duration: 0.3s;
      
            /* individual styles for each social container */
            &.containerOne { border-radius: 30px; }
            &.containerTwo { border-radius: 30px; }
            &.containerThree { border-radius: 50px; }
            &.containerFour { border-radius: 90px; height: 20px; }
      
            &:hover {
              transform: none;
            }
      
            &:active {
              transform: none;          
              }
      
            .socialSvg {
              width: 17px;
              path {
                fill: rgb(255, 255, 255);
              }
            }
      
            &:hover .socialSvg {
              animation: slide-in-top 0.3s both;
            }
          }
        }
      
      
    
       .viewsBloque{ //bloque de views
            display: flex;

            justify-content: center;
            align-items: center;
    
            .viewsText{ // texto de views 20million
              text-align: center;
                padding: 0 .5rem;
                color: #d6b26a;
                background: -webkit-linear-gradient(146deg, rgb(177, 148, 42) 0%, rgb(222, 196, 196) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 1rem;
                font-weight: 800;
                user-select: none;
    
                span{
                    font-weight: 800;
                }
            }
    
            .vl {
                border-left:none;
                height: 0px;
              }
        }
      
       
      }
      
      @keyframes slide-in-top {
        0% {
          transform: translateY(-50px);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
    
      @media only screen and (min-width: 1280px) and (max-width: 1440px) {
        /* Estilos para el MacBook Air */
    
        .AboutAhmed { // estructura bloque ahmed odeh
          padding:  0 10rem;
          width: 80%; //opcional
          margin: 0 auto; //opcional
          
        }
        .ProfileContainer{
          display: flex;
          align-items: center;
          height: 100%;
          // border: 2px yellow solid;
    
        }
      
          .profilePicture {
              grid-area: picture;
              filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
              height: 85%; // tama単o de img
              // padding: 0 20px;
              margin-right: 3rem;
              align-items: first baseline;
        }
        .descriptionAhmed {
      
          grid-area: textAhmed;
          color: white;
          font-size: 1px;
          padding: 1px;
          float: right;
    
          .btnAhmed{
            margin-top: 2rem;
            height: 3.5rem;
    
            span a{
              font-weight: 700;
              font-size: 1rem; 
            }
          }
        }
      }
      
    
  }