.BenefitsSection{
    display: flex;
    padding: 0 9rem;
    flex-direction: column;
    align-items: center;
    text-align: center;

        .titleBenefit{
            font-size: 3rem;
            color: white;
            
        }

        .descriptionBenefit{
            font-size: 1.3rem;
            color: rgb(203, 198, 198);
        }

    .containerBenefit{
        display: flex;
        padding: 2rem 5rem; //padding costados
        color: white;
        gap: 2rem;

        .benefitBox{
         
            color: white;
            background-color: rgb(41, 42, 43);  
            border-radius: 2rem;
            transition: all .2s ease;
            width: 290px;
            height: 300px;
            padding: 1rem 2rem;
            -webkit-box-shadow: 10px 15px 21px 0px rgba(0,0,0,0.511);
            -moz-box-shadow: 10px 15px 21px 0px rgba(0, 0, 0, 0.511);
            box-shadow: 10px 15px 21px 0px rgba(0, 0, 0, 0.369);

    
    
            img{
                width: 20%;
                padding-top: 1.5rem ;
                -webkit-filter: drop-shadow(2px 2px 2px #222222);
                filter: drop-shadow(3px 3px 3px #22222274);
                
            }
        }

        .benefitBox:hover{
            transform: translateY(-3px);
        }
 
    }

}

.lineHorizontalNetwork{
    margin: 0 auto;
    margin-top: 3rem;
  
    width: 80%;
    border-top: 1px rgb(124, 118, 118) solid;
}


@media (max-width: 900px) {
    .BenefitsSection{
        display: flex;
        padding: 0px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    
            .titleBenefit{
                width: 70%;
                font-size: 2rem;
                color: white              
            }
    
            .descriptionBenefit{
                width: 70%;
                font-size: 1rem;
                color: rgb(203, 198, 198);
            }
    
        .containerBenefit{
            display: flex;
            flex-direction: column;
            padding: 2rem; //padding costados
            color: white;
            gap: 2rem;
    
            .benefitBox{
             
                color: white;
                background-color: rgb(41, 42, 43);
                border-radius: 2rem;
                transition: all .2s ease-in-out;
                width: 90%;
                height: 300px;
                padding: 2rem 0rem;
                -webkit-box-shadow: 10px 15px 21px 0px rgba(0,0,0,0.511);
                -moz-box-shadow: 10px 15px 21px 0px rgba(0, 0, 0, 0.511);
                box-shadow: 10px 15px 21px 0px rgba(0,0,0,0.511);
        
        
                img{
                    width: 20%;
                    padding: 0 2rem;
                     -webkit-filter: drop-shadow(2px 2px 2px #222222);
                filter: drop-shadow(3px 3px 3px #22222274);
                }

                .DescriptionCardsBenefit{
                    color: rgb(184, 180, 180);
                }
            }
    
            .benefitBox:hover{
                transform: none;
            }
     
        }
    
    }
}

@media screen and (max-width:700px) {
    .BenefitsSection{
        display: flex;
        padding: 0 2rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
    
            .titleBenefit{
                width: 70%;            
            }
    
            .descriptionBenefit{
                width: 90%;
            }
    
        .containerBenefit{
            display: flex;
            flex-direction: column;
            padding: 2rem 2rem; //padding costados
            justify-content: center;
            align-items: center;
            gap: 2rem;
    
            .benefitBox{   
                width: 80%;
                height: 300px;
                padding: 2rem 2rem;
     
        }
    
    }
}
}