.Calendly{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .TitleCalendly{
        font-size: 2.5rem;
        color: white;
    }

    .calendly-inline-widget{
        width: auto;
        scroll-behavior: smooth;

    }

    .btnCalendlySection{
        background-color: white;
        border-radius: 45px;
        margin-top: 2rem;
        font-family: "Poppins", sans-serif;
        
        span a{
            font-size: 1.5rem;
            text-align: center;
        }


    }
    
}


@media (max-width: 900px) {
    .Calendly{
        padding: 40px;
        // border: 2px yellow solid; //opcional
    
        .TitleCalendly{
            margin: 0 10px;
            font-size: 1.7rem; //titulo calendly section
            text-align: center; //alineacion de texto

            h2{
                font-size: 2.1rem;
                color: white;
            }
        }

                  .calendly-inline-widget {
                      width: 350px;
                      scroll-behavior: smooth;
        
                  }

        .btnCalendlySection{
            background-color: white;
            border-radius: 100px;
            // margin-top: 2rem;
            padding: 10px 20px;

            span a{
                font-size: 1.2rem;
                text-align: center;
                // border: 2px yellow solid;
                width: 70%;
            }

            .svgItemCalendly{
                // border: 2px yellow solid;
                padding: 8px 20px;
            }


        }

}
}