.Calendly{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .TitleCalendly{
        font-size: 2.5rem;
        color: white;
    }

    .calendly-inline-widget{
        min-width:320px;
        height:700px;
        scroll-behavior: smooth;


    }

    .btnCalendlySection{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer; // pointer for btn
        margin: 0 auto; // margin for centering btn
        transition: all .2s; //transtion to move icon
        padding: 20px 60px; // padding to give space to each element
        border-radius: 50px; //border of btn
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        background: #ffffff;
        border: 1px rgb(98, 95, 95) solid;
        -webkit-box-shadow: 17px 24px 30px -2px #00000079;
        -moz-box-shadow: 17px 24px 30px -2px rgba(0,0,0,0.4);
        box-shadow: 17px 24px 30px -2px rgba(0,0,0,0.4);
        
        span a{
            padding-right: 2rem; //padding to move the arrow
            font-weight: 700; //font weight of btn
            font-size: 1.5rem; //font size of the button
            text-decoration: none; // remove decoration from text
            
            background: -webkit-linear-gradient(146deg, rgba(255,233,152,1) 0%, rgba(213,189,117,1) 8%, rgba(87,55,13,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }


    }

    .btnCalendlySection > svg {
        width: 34px;
        // margin-left: 10px;
        transition: transform .3s ease-in-out;
      }
      
      .btnCalendlySection:hover svg {
        transform: translateX(5px);
      }
      
      .btnCalendlySection:active {
        transform: scale(0.95);
      }
    
}


@media (max-width: 900px) {
    .Calendly{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 1rem ;

    
        .TitleCalendly{
            margin: 0 10px;
            font-size: 1.7rem; //titulo calendly section
            text-align: center; //alineacion de texto

            h2{
                font-size: 2.1rem;
                color: white;
            }

            }

            .btnCalendlySection{
                width: 90%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding: .5rem 2rem;
                margin: 1rem 0 0 1rem ;
                align-items: center;


                span a{
                    padding-right:0; //padding to move the arrow
                    font-weight: 700; //font weight of btn
                    font-size: 1rem; //font size of the button
                    text-decoration: none; // remove decoration from text
                    
                    background: -webkit-linear-gradient(146deg, rgba(255,233,152,1) 0%, rgba(213,189,117,1) 8%, rgba(87,55,13,1) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        

            .btnCalendlySection > svg {

                transition: none;
              }
              
              .btnCalendlySection:hover svg {
                transform: translateX(0px);
              }
              
              .btnCalendlySection:active {
                transform: scale(0);
              }
        }
          
    }
