@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    padding: 0;
    scroll-behavior: smooth;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #222020;
    font-family: "Poppins", sans-serif;
}

html{

    overflow-x: hidden;
    scroll-behavior: smooth !important;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}


.lineHorizontal{
    margin: 0 auto;
    width: 80%;
    border-top: 1px rgb(124, 118, 118) solid;
}

@media (max-width: 900px){
.lineHorizontal {
        margin: 0 auto;
        margin-top: 1rem;

        width: 90%;
        border-top: 1px rgb(124, 118, 118) solid;
    }
}



.GoldSpan{
    color: rgb(214, 178, 106);
    background: -webkit-linear-gradient(146deg, rgba(255, 233, 152, 1) 0%, rgba(213, 189, 117, 1) 8%, rgb(133, 87, 27) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}