.review-box {
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 300px;
    font-family: Arial, sans-serif;
    margin: 0;
}

.review-box img {
    width: 90px;
    height: 90px;
    margin-right: 3rem;
}

.review-content {
    display: flex;
    flex-direction: column;
}

.rating {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.rating .stars {
    color: #FFD700;
    margin-left: 5px;
}

.reviews {
    font-size: 0.9rem;
    color: #555;
}

.reviews p {
    text-decoration: none;
    font-weight: bold;
    margin: 0;
}

.reviews a:hover {
    text-decoration: underline;
}

@media (max-width: 900px){
    .review-box {
        display: flex;
        align-items: center;
        padding: 0rem 1.5rem;
        margin-bottom: 1.5rem;
        border-radius: 8px;
        max-width: 300px;
        font-family: Arial, sans-serif;
    }
    
    .review-box img {
        width: 90px;
        height: 90px;
        margin-right: 3rem;
    }
    
    .review-content {
        display: flex;
        flex-direction: column;
    }
    
    .rating {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
    }
    
    .rating .stars {
        color: #FFD700;
        margin-left: 5px;
    }
    
    .reviews {
        font-size: 0.9rem;
        color: #555;
    }
    
    .reviews a {
        color: #4285F4;
        text-decoration: none;
        font-weight: bold;
    }
    
    .reviews a:hover {
        text-decoration: underline;
    }
}