header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 3rem;
  padding: 20px;
  // background-color: rgb(91, 35, 35);
  padding: 30px;

  .logo img{
    height: 4.5rem;
    text-align: center;
  }
}


@media (max-width: 900px) {
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 3rem;
    padding: 20px;
    // background-color: rgb(91, 35, 35);
    padding: 30px;

    .logo img {
      height: 3.5rem;
      text-align: center;
    }
  }

}



