.HowitWorksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0 5rem 0rem;

}

.TitleHowitWorks {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    color: white;
    margin: 0;
    padding: 0;
}

.DescriptionWork {
    color: rgb(211, 211, 211);
    font-size: 1.3rem;
    padding: 1rem 20rem;
    text-align: center;
}

.CardsContainer {
    display: flex;
    // gap: 20px;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardWork {
    border: 2px #af8f4e solid;
    padding: 2rem;
    border-radius: 10px;
    height: 250px;
    width: 400px;

}

.TitleCardSteps {
    font-weight: 400;
}

.StepTitle {
    font-weight: 500;

}

.StepsDescription {
    color: #adadad;
}

.lineaWork {
    border: 2px #af8f4e solid;
    width: 50px;
    height: 0px;
}

@media (max-width: 900px) {
    .HowitWorksContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 1rem 2rem 1rem;

    }

    .TitleHowitWorks {
        text-align: center;
        font-size: 25px;
        color: white;
    }

    .StepTitle {
        font-size: 1.3rem;
    }

    .StepsDescription {
        font-size: 1rem;
    }

    .DescriptionWork {
        font-size: 1rem;
        color: rgb(228, 228, 228);
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .CardsContainer {
        display: flex;
        color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: auto;
        width: 100%;
    }

    .cardWork {
        border: 2px #af8f4e solid;
        padding: 1.5rem 1.5rem;
        border-radius: 10px;
        height: auto;
        width: auto;

    }

    .lineaWork {
        border: 2px #af8f4e solid;
        width: 0;
        height: 50px;
    }

}


/* Media Query para iPads y tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .HowitWorksContainer {
        padding: 1rem 8rem 3rem 8rem;
    }


    .cardWork {
        border: 2px #af8f4e solid;
        padding: 2rem;
        border-radius: 10px;
        height: auto;
        width: auto;

    }

    .lineaWork {
        border: 2px #af8f4e solid;
        width: 0;
        height: 50px;
    }
}