.vsl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto; //opcional
    text-align: center;
    padding: 0 3rem; //padding costados
}

.textVSL { // texto general
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    font-size: 2rem;


      span{
        color: rgb(214,178,106);
        background: -webkit-linear-gradient(146deg, rgba(255,233,152,1) 0%, rgba(213,189,117,1) 8%, rgb(133, 87, 27) 100%);        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      
      }
      

    p{
      color: white;
      font-weight: 900;
      font-size: 2rem;
    }
}

.vslVideo {
    width: 70%;
    border-radius: 20px;
    margin: 30px;
    filter: drop-shadow(20px 10px 20px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    transition: all .2s ease;

}

.BtnVSL {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer; // pointer for btn
    margin: 0 auto; // margin for centering btn
    transition: all .2s; //transtion to move icon
    padding: 20px 60px; // padding to give space to each element
    border-radius: 50px; //border of btn
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    background: #ffffff;
    border: 1px rgb(98, 95, 95) solid;
    -webkit-box-shadow: 17px 24px 30px -2px #00000079;
    -moz-box-shadow: 17px 24px 30px -2px rgba(0,0,0,0.4);
    box-shadow: 17px 24px 30px -2px rgba(0,0,0,0.4);
    
    span a{
      padding-right: 2rem; //padding to move the arrow
      font-weight: 700; //font weight of btn
      font-size: 1.5rem; //font size of the button
      text-decoration: none; // remove decoration from text
      
      background: -webkit-linear-gradient(146deg, rgba(255,233,152,1) 0%, rgba(213,189,117,1) 8%, rgba(87,55,13,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      svg{
        color: rgb(140, 255, 0);
        background: -webkit-linear-gradient(146deg, rgba(255,233,152,1) 0%, rgba(87,55,13,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      
    }
  }
  
  // button:hover {  //boton hover color
  //    background: #eee9e9;
  // }
  
  .BtnVSL > svg {
    width: 34px;
    // margin-left: 10px;
    transition: transform .3s ease-in-out;
  }
  
  .BtnVSL:hover svg {
    transform: translateX(5px);
  }
  
  .BtnVSL:active {
    transform: scale(0.95);
  }
  

.linea{
    width: 70%;

    color: #dcddd88e;

}

@media (max-width: 900px) {
  .vsl {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 1rem; //padding costados

      .textVSL{
        font-size: 1rem;
        color: rgb(255, 255, 255);
        margin-left: 2px;
        margin-right: 2px;

      }

      .vslVideo{
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;

      }

      .BtnVSL{
        // margin: 20px 0px;
        text-align: center;
        padding: .5rem 2rem; // padding to give space to each element
        border-radius: 50px; //border of btn
        // height: 3.5rem;
        margin: 1rem 0;


          span a{
            padding-right: 3rem; //padding to move the arrow
            font-weight:800; //font weight of btn
        


          }

        // .SVGImage {
        //     width: auto;
        //     // border: 2px red solid;
        //     margin-left: 0;
        //     transition:none;
          
        //   }




        span a{
          font-size: .9rem;
        }
      }

      .tituloIntroduction{
          // border: 2px yellow solid;
          width: 90%;
          padding: 5%;

          h1 {
              // margin-top: 100px;
              font-size: 150%;
              color: rgb(255, 255, 255);
          }
      }
      .parrafoIntro {
          padding: 10px;
          // border: 2px yellow solid;

          p {
              font-size: 1rem;
              font-weight: 400;
              padding: 10px;
              color: rgb(226, 219, 219);
          }
      }
      .BtnLearnMore {
          margin-top: 20px;
      }
  }


     .BtnVSL:hover svg {
       transform: translateX(0);
     }
  
     .BtnVSL:active {
       transform: none;
     }
  
     .BtnVSL:hover {
       background-color: #e0dede;
     }


      .vslVideo:hover {
          transform: scale(1);
         }
}
