/* Estilos generales para la sección VSL */
.vsl {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 10rem;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(34, 32, 31, 0) 10%, #22201F 100%), 
                    url(../images/MIOlaw1.webp);
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
}


/* Estilos para el contenedor de texto VSL */
.textVSL {
  // width: 60%;
  // text-align: left;
  width: 100%;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}

/* Estilos para los títulos */
.TituloVSL {
  color: white;
  font-weight: 600;
  // font-size: 4rem !important;
  font-size: 6rem !important;
  margin-bottom: 0;
  filter: drop-shadow(3px 3px 7px rgba(0, 0, 0, 0.803));
}

/* Estilos para las palabras destacadas en dorado */
.textVSL span {
  color: #d6b26a;
  background: -webkit-linear-gradient(146deg,
      rgb(255, 255, 255) 0%,
      rgb(255, 255, 255) 20%,
      rgb(255, 255, 255) 120%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Estilos para el subtítulo */
.Subtitle {
  font-size: 2rem;
  color: #d6b26a;
  background: -webkit-linear-gradient(146deg,
  rgba(255, 233, 152, 1) 0%,
  rgba(213, 189, 117, 1) 8%,
  rgb(217, 152, 67) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(3px 3px 7px rgba(0, 0, 0, 0.803));
  font-weight: 600;
}

#MobileOut {
  padding: 0 20rem;
  font-size: 2.5rem;
  // text-align: left;
  text-align: center;
  color: white;
}

/* Contenedor de los botones */
#BotonContainer {
  margin: 0.5rem 0;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Estilos de los botones */
.button {

  padding: 18px 40px;
  border: none;
  margin-top: 2rem;
  outline: none;
  font-family: "Poppins", sans-serif;
  background-color: #ededed;
  color: black;
  border-radius: 9px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.button:hover {
  transform: translateY(-3px);
}

.button-span {
  color: #5c5a5a;
}

/* Contenedor de la imagen de Ahmed y su hermano */
.ahmedYhermano {
  display: none;
  // position: absolute; /* Asegura que esté posicionado correctamente */
  // top: 314px; /* Ajusta la posición desde la parte superior del contenedor */
  // right: 100px; /* Ajusta la posición desde la derecha del contenedor */
  // max-width: 100%;
  // height: 900px;
  // z-index: 10; /* Asegura que esté encima de otros elementos */
}

/* Imagen dentro del contenedor */
// .ahmedYhermano img {
//   width: 100%;
//   image-rendering: optimizeQuality;
//   height: 470px; /* Ajusta la altura de la imagen */
//   object-fit: cover;
//   filter: sepia(0%) hue-rotate(90deg) saturate(0%);}

/* Ajustes para pantallas pequeñas */
@media (max-width: 1000px) {
  /* Estilos generales para la sección VSL */
  .vsl {
    display: flex;
    flex-direction: column; /* Cambia la dirección del flex a columna */
    align-items: center;
    padding: 0rem 0rem; /* Aleja los textos */
    background-image: linear-gradient(to bottom, rgba(34, 32, 31, 0) 10%, #22201F 100%), 
                    url(../images/MIOlaw1.webp);
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
    height: 100vh;
    position: relative;
  }

  /* Estilos para el contenedor de texto VSL */
  .textVSL {
    width: 100%;
    text-align: center; /* Centra el texto */
    padding-top: 0; /* Asegura que el texto esté debajo de la imagen */
  }

  /* Estilos para los títulos */
  .TituloVSL {
    padding: 0 0rem;
    padding-top:3.5rem ;
    font-size: 3.4rem !important;
  }

  .textVSL span {
    color: white;
    background: -webkit-linear-gradient(146deg,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 20%,
        rgb(254, 254, 254) 120%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Estilos para el subtítulo */
  .Subtitle {
    font-size: 2rem;
    display: none;
  }

  #MobileOut {
    padding: 0 2rem;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    padding-bottom: .5rem;
  }

  /* Contenedor de los botones */
  #BotonContainer {
    margin: 0.5rem 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 1rem;
  }

  /* Estilos de los botones */
  .button {
    padding: 15px 30px;
    border: none;
    margin-top: 0rem;
    border-radius: 9px;
    font-weight: 600;
    font-size: .9rem;
    transition: all 0.25s ease-out;
  }

  .button:hover {
    transform: translateY(-3px);
  }

  .button-span {
    color: #5c5a5a;
  }

  /* Contenedor de la imagen de Ahmed y su hermano */
  .ahmedYhermano {
    position: absolute;
    top: 90px; /* Ajusta la posición para que esté arriba del texto */
    right: 35px; /* Ajusta la posición desde la derecha en pantallas pequeñas */
    width: 80%; /* Ajusta el ancho de la imagen para que ocupe todo el contenedor */
    
  }

  .ahmedYhermano img {
    height: 180px; /* Ajusta la altura de la imagen en pantallas pequeñas */
    width: 98%; /* Asegura que la imagen ocupe el ancho completo */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    border-bottom: 7px #d6b26a solid;
    
  }
}

/* Ajustes para pantallas pequeñas */
@media (min-width: 1100px) and (max-width: 1450px) {
  /* Estilos generales para la sección VSL */
  .vsl {
    display: flex;
    flex-direction: column; /* Cambia la dirección del flex a columna */
    align-items: center;
    padding: 0rem 0rem; /* Aleja los textos */
    background-image: linear-gradient(to bottom, rgba(34, 32, 31, 0) 10%, #22201F 100%), 
                    url(../images/MIOlaw1.webp);
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
    height: 100vh;
    position: relative;
  }

  /* Estilos para el contenedor de texto VSL */
  .textVSL {
    width: 100%;
    text-align: center; /* Centra el texto */
    padding-top: 0; /* Asegura que el texto esté debajo de la imagen */
  }

  /* Estilos para los títulos */
  .TituloVSL {
    padding: 0 1rem;
    padding-top:3.5rem ;
    font-size: 3.5rem !important;
  }

  .textVSL span {
    color: white;
    background: -webkit-linear-gradient(146deg,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 20%,
        rgb(254, 254, 254) 120%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Estilos para el subtítulo */
  .Subtitle {
    font-size: 2rem;
    display: none;
  }

  #MobileOut {
    padding: 0 2rem;
    font-size: 1.5rem;
    text-align: center;
    color: white;
  }

  /* Contenedor de los botones */
  #BotonContainer {
    margin: 0.5rem 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    padding-bottom: 1rem;
  }

  /* Estilos de los botones */
  .button {
    padding: 15px 30px;
    border: none;
    margin-top: 1rem;
    border-radius: 9px;
    font-weight: 600;
    font-size: .9rem;
    transition: all 0.25s ease-out;
  }

  .button:hover {
    transform: translateY(-3px);
  }

  .button-span {
    color: #5c5a5a;
  }

  /* Contenedor de la imagen de Ahmed y su hermano */
  .ahmedYhermano {
    position: absolute;
    top: 90px; /* Ajusta la posición para que esté arriba del texto */
    right: 35px; /* Ajusta la posición desde la derecha en pantallas pequeñas */
    width: 80%; /* Ajusta el ancho de la imagen para que ocupe todo el contenedor */
    
  }

  .ahmedYhermano img {
    height: 180px; /* Ajusta la altura de la imagen en pantallas pequeñas */
    width: 98%; /* Asegura que la imagen ocupe el ancho completo */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    border-bottom: 7px #d6b26a solid;
    
  }
}
