.questions {
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: auto;
  margin: 0 auto;
}

.titleQuestions {
  font-size: 35px;
  font-weight: 500;
  color: rgb(214, 178, 106);
  background: -webkit-linear-gradient(146deg, rgba(255, 233, 152, 1) 0%, rgb(123, 80, 24) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 4rem 0rem;
}

.faq {
  max-width: 70%;
  min-width: 70%;
  margin-top: 0rem;
  padding-bottom: 0rem;
  border-bottom: 1px solid rgb(176, 170, 170);
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height .8s ease;
}

.answer p {
  color: rgb(182, 176, 176);
  padding-top: 0rem;
  line-height: 1.6;
  text-align: left;
  font-size: 1.4rem;
}

.faq.active .answer {
  max-height: 200px;
  animation: fade .6s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform .4s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Media Query para celulares móviles (hasta 600px) */
@media (max-width: 600px) {
  .questions {
    padding: 1rem;
    padding-top: 1rem;
    /* Reduzco el padding lateral para móviles */
  }

  .titleQuestions {
    font-size: 1.4rem;
    /* Reduzco el tamaño de la fuente del título para móviles */
    margin: 1rem 0;
    /* Ajusto el margen del título para móviles */
    text-align: center;
    /* Centro el texto del título */
  }

  .faq {
    max-width: 100%;
    /* Ancho máximo del 100% para ocupar todo el ancho del móvil */
    margin-top: 1rem;
    /* Aumento el margen superior de cada pregunta */
    padding-bottom: 0.3rem;
    border-bottom: 1px solid rgb(142, 138, 138);
  }

  .faq.active .answer {
    max-height: 300px;
    /* Aumento la altura máxima de la respuesta activa para móviles */
  }

  .question h3 {
    font-size: 1rem;
    /* Reduzco el tamaño de la fuente de las preguntas para móviles */
    width: 90%;
    /* Ajusto el ancho del texto de las preguntas */
  }

  .answer p {
    font-size: 1rem;
    /* Reduzco el tamaño de la fuente de las respuestas para móviles */
  }
}

/* Media Query para iPads y tablets (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .questions {
    padding: 0 2rem;
    /* Reduzco el padding lateral para iPads y tablets */
  }

  .titleQuestions {
    font-size: 2rem;
    /* Tamaño de la fuente del título para iPads y tablets */
    margin: 3rem 0;
    /* Ajusto el margen del título para iPads y tablets */
    text-align: center;
    /* Centro el texto del título */
  }

  .faq {
    max-width: 90%;
    /* Limito el ancho máximo al 70% para iPads y tablets */
    min-width: 70%;
    margin-top: 1rem;
    /* Aumento el margen superior de cada pregunta */
    padding-bottom: 0.3rem;
    border-bottom: 1px solid rgb(142, 138, 138);
  }

  .faq.active .answer {
    max-height: 300px;
    /* Aumento la altura máxima de la respuesta activa para iPads y tablets */
  }

  .question h3 {
    font-size: 1.2rem;
    /* Tamaño de la fuente de las preguntas para iPads y tablets */
    width: 90%;
    /* Ajusto el ancho del texto de las preguntas */
  }

  .answer p {
    font-size: 1.2rem;
    /* Tamaño de la fuente de las respuestas para iPads y tablets */
  }
}