.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 3rem;
}

.wrapper ul {
  border-radius: 30px;
  border: 2px rgba(205, 199, 199, 0.1) solid;
  flex-direction: column;
  align-items: left;
  flex: 1;
  width: 70%; // lo hice más largo para que no se rompan las flechas
}

.wrapper ul li {
  user-select: none;
  display: flex; // display para poder alinear flechas 
  justify-content: left; // alineo a izquierda
  align-items: center; // centro verticalemente el elemento
}

.wrapper ul li span {
  color: white; // color texto
  font-size: 1.5rem; // tamaño de texto
  font-weight: 500;
}

.TextAreasDescription {
  color: white;
  font-size: 1rem;
  font-weight: 200;

}

.wrapper .IconArrow {
  color: rgb(214, 178, 106); // color icono
  font-size: 2rem; // tamaño de icono
  margin-right: .5rem; // margen derecho respecto al texto
}

.wrapper .titleWrapper {
  color: white;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  padding: 0 30px;
}

.wrapper .column-list {
  columns: 2;
  list-style-type: none;
  padding: 3rem;
  margin: 0 auto;
}

#BtnMargin {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.wrapper .column-list li {
  margin-bottom: 10px;
}

/* Existing styles for smaller screens */
@media (max-width: 900px) {
  .wrapper ul {
    border-radius: 30px;
    border: 2px rgba(205, 199, 199, 0) solid;
    flex-direction: column;
    flex: 1;
    width: 100%;
  }

  .wrapper ul li {
    padding: 0;
    margin-top: 0px;
    // border: 2px yellow solid;
  }

  .wrapper ul li span {
    color: white;
    font-size: 1rem;
  }

  .wrapper .IconArrow {
    font-size: 30px !important;
    margin-right: .8rem !important;
    align-items: baseline;
    // border: 2px yellow solid;
    min-width: 30px;
  }

  .wrapper .titleWrapper {
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: .3rem;

  }

  .wrapper .column-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;

  }
}

/* Specific styles for tablets and iPads (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper ul {
    width: 90%;
  }

  .wrapper ul li span {
    font-size: 1.4rem;
  }

  .wrapper .titleWrapper {
    font-size: 2.5rem;
  }

  .wrapper .column-list {
    padding: 2rem;
  }
}