.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;


  ul {
    border-radius: 30px;
    border: 2px rgba(205, 199, 199, 0.1) solid;
    border-radius: 20px;
    flex-direction: column;
    align-items: left;
    flex: 1;
    width: 70%; // lo hice mas largo para que no se rompan las flechas

  }

  ul li {
    user-select: none;
    // transition: all .3s ease;
    display: flex; // display para poder alinear flechas 
    justify-content: left; // alineo a izquierda
    align-items: center; // centro verticalemente el elemento

    span {
      color: white; // color texto
      font-size: 1.5rem; // tamano de texto
    }

  }

  .IconArrow {
    // icon arrow de bullets
    color: rgb(214, 178, 106); // color icono
    font-size: 2rem; // tamaño de icono
    margin-right: .5rem; //margen derecho respecto al texto

  }



  .titleWrapper {
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    padding: 0 30px;
  }

  .column-list {
    columns: 2;
    list-style-type: none;
    padding: 3rem;
    margin: 0 auto;


  }

  #BtnMargin {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .column-list li {
    margin-bottom: 10px;
  }

}



@media (max-width: 900px) {

  .wrapper {

    ul {
      border-radius: 30px;
      border: 2px rgba(205, 199, 199, 0) solid;
      border-radius: 20px;
      flex-direction: column;
      flex: 1;
      width: 100%;
    }

    ul li {
      padding: 0 1rem;
      margin-top: 20px;

      span {
        color: white;
        font-size: 1rem;
      }
    }

    .IconArrow {
      // icon arrow de bullets
      font-size: 2rem !important; // tamaño de icono
      margin-right: 1rem !important; //margen derecho respecto al texto
      align-items: center; // centro verticalemente el elemento
    }

    .titleWrapper {
      color: white;
      text-align: center;
      font-size: 30px;
      margin-bottom: .3rem;
    }



    .column-list {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding: 10px 0;
      margin: 0 auto;

      // border: 2px yellow solid;

    }


  }

}